table {
    width: 100%;
    max-width: 1400px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

td {
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

textarea{
    width: 100%;
    
}