<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
body{

  background-image: url("/static/home.png") ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 40px;
  
}

    </style>
  </head>
  <body >
    <nav>
      <ul>
       
        <li><a href="#" class="active">HOME</a></li>
        <li><a  href="loginpage">LOGIN</a></li>
       
      </ul>
    </nav>

<center><H1 style="color: black;"> FACE RECOGNITION BASED ATTENDANCE SYSTEM</H1>
</center>
    
    </div>
  </body>
</html>