<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
body{

background-image: url("/static/home.png") ;
background-size: 100%;
background-repeat: no-repeat;
background-position-y: 40px;

}
    </style>
  </head>
  <body >
    <nav>
      <ul>
        <li><a  href="/">HOME</a></li>
        <li><a href="#" class="active">LOGIN</a></li>
       
      </ul>
    </nav>
<br><br><br><br><br><br><br><br>

    <div class="form">
      <h2>LOGIN</h2>
      <div class="flashes">
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </div>
      <form action="login" method="POST">

        <label for="ltype" id="">LOGIN TYPE:</label>
        <select name="ltype">
          <option value="admin">ADMIN</option>
          <option value="staff">STAFF</option>
        </select>

        
        <label for="name" id="selectedOptionLabel">EMAIL:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">PASSWORD:</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="LOGIN">
      </form>
    </div>

   
  </body>
</html>